{% extends 'clinic/base.html' %}
{% load static %}

{% block content %}

<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <form method="post">
            {% csrf_token %}
            <h3>Авторизация</h3>
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <input
            class="btn btn-secondary my-3"
            type="submit"
            href="{% url 'users:login' %}"
            value="Войти"
            />
        </form>
        <a class="btn btn-secondary" href="{% url 'users:registration' %}" role="button">Зарегистрироваться</a>
      </div>
    </div>

     {% if messages %}
         {% for message in messages %}
             <div class="text-center alert alert-{{ message.tags }}">
                 {{ message|safe }}
             </div>
         {% endfor %}
     {% endif %}
  </header>
</section>

{% endblock %}