{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a href="{% url 'clinic:home' %}" class="nav-link link-dark px-2 active">Главная страница</a></li>
            <li class="nav-item"><a href="{% url 'clinic:about' %}" class="nav-link link-dark px-2 active">О нас</a></li>
            <li class="nav-item"><a href="{% url 'clinic:appointment' %}" class="nav-link link-dark px-2 active">Запись к врачу</a></li>
          </ul>
          {% if user.is_authenticated %}
            <ul class="nav">
                <li class="nav-item"><a href="{% url 'users:profile'%}" class="nav-link link-dark px-2 active">Профиль</a></li>
                <li class="nav-item">
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link link-dark px-2 active">Выйти</button>
                    </form>
                </li>
            </ul>
          {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
